{%extends 'base.html'%}



{%block title%}
    Currency
{%endblock%}




{%block content%}

{% with messages = get_flashed_messages(with_categories=true) %}
        {%if messages %}
            {%for category,message in messages%}
                {%if category == "warning" %}
                <div class="alert text-center alert-warning  alert-dismissable fade show" role="alert">
                    
                        {{ message }}
                   
                    
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden ="true">&times;</span>
                    </button>
                </div>
                {%else%}
                <div class="alert text-center alert-success  flex-end alert-dismissable fade show" role="alert">
                    
                        {{ message }}
                   
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden ="true">&times;</span>
                    </button>
                </div>
                {%endif%}
            {%endfor%}
        {%endif%}
    {% endwith %}

    <div class="container mt-5">
        <div class="cardi">
            <div class="card pl-4 pr-4 pb-2 pt-2">
            <a href='/realtime-gdp' style="color:rgb(21, 21, 21)">
                <div class="text">
                    <h5>RealTime GDP</h5>
                </div>
            </a>
            </div>
            <div class="card ml-4 pl-4 pr-4 pb-2 pt-2">
            <a href='/gdp-percapita' style="color:rgb(4, 0, 17)">
                <div class="text">
                    <h5>GDP PerCapita</h5>
                </div>
            </a>
            </div>
        </div>
    </div>

    <style>
        .cardi{
            display:flex;
            justify-content: center;
            align-items: center;
        }
        .card{
            background: rgba( 255, 255, 255, 0.12 );
box-shadow: 0 8px 8px 0 rgba( 31, 38, 135, 0.37 );

border-radius: 4px;
 border: 1px solid rgba( 0, 0, 0, 0.18 );
 color: rgb(0, 0, 0);
        }
      
    </style>
{%endblock%}