{%extends 'base.html'%}



{%block title%}
    Home
{%endblock%}




{%block content%}

{% with messages = get_flashed_messages(with_categories=true) %}
        {%if messages %}
            {%for category,message in messages%}
                {%if category == "warning" %}
                <div class="alert text-center alert-warning  alert-dismissable fade show" role="alert">
                    
                        {{ message }}
                   
                    
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden ="true">&times;</span>
                    </button>
                </div>
                {%else%}
                <div class="alert text-center alert-success  flex-end alert-dismissable fade show" role="alert">
                    
                        {{ message }}
                   
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden ="true">&times;</span>
                    </button>
                </div>
                {%endif%}
            {%endfor%}
        {%endif%}
    {% endwith %}

    <div class="container mt-5 top-flow">
       <div class="container gerd">
           <div class="option1 d-flex pt-5">
                <div class="imag">
                    <img class="ml-3" style="border-radius: 6px;" src="https://images.unsplash.com/photo-1590283603385-17ffb3a7f29f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80" width="70%" height="70%" alt="">
                </div>
                <div>
                    <div class="header">
                        <h4>Exchange Rates</h4>
                        <p>Get classified and accurate exchage rates from one currency to another in UTC timezone with ask and bid price.</p>
                        <button class="btn btn-primary" ><a href='/forex/exchanges/' class="text-white">I'am ready to go</a></button><img class="ml-4" src="../../../static/images/leftpoint.png" width="130px" height="60px">
                    </div>
                </div>
           </div>
           <div class="option1 d-flex pt-5 pb-5">
            <div class="header">
                <h4>Intraday Data</h4>
                <p>Fecth all the intraday data available globally from one currency to another with timezone of UTC with OHLC candlesticks.</p>
                <button class="btn btn-primary"><a href='/forex/intraday-rates/' class="text-white">Start Now</a></button><img class="ml-4" src="../../../static/images/leftpoint.png" width="130px" height="60px">
            </div>
            <div>
                <div class="imag">
                    <img class="ml-3" style="border-radius: 6px;" src="https://images.unsplash.com/photo-1599658880436-c61792e70672?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80" alt="">
                </div>
            </div>
       </div>

       <div class="option1 d-flex" style="padding-top:120px">
        <div class="imag">
            <img class="ml-3" style="border-radius: 6px;" src="https://images.unsplash.com/photo-1617761141732-d481912af1a9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=725&q=80"  alt="">
        </div>
        <div>
            <div class="header">
                <h4>Daily Data</h4>
                <p>Fecth all the daily data available globally from one currency to another with timezone of UTC with OHLC candlesticks.</p>
                <button class="btn btn-primary"><a href='/forex/daily-rates/' class="text-white">I'am ready to go</a></button><img class="ml-4" src="../../../static/images/leftpoint.png" width="130px" height="60px">
            </div>
        </div>
   </div>

   <div class="option1 d-flex pt-5 pb-5">
    <div class="header">
        <h4>Weekly Data</h4>
        <p>Fecth all the weekly data available globally from one currency to another with timezone of UTC with OHLC candlesticks.</p>
        <button class="btn btn-primary"><a href='/forex/weekly-rates/' class="text-white">Start Now</a></button><img class="ml-4" src="../../../static/images/leftpoint.png" width="130px" height="60px">
    </div>
        <div class="imag">
            <img class="ml-3" style="border-radius: 6px;" src="https://images.unsplash.com/photo-1518186285589-2f7649de83e0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=774&q=80" alt="">
        </div>
    </div>




    <div class="option1 d-flex" style="padding-top:30px">
        <div class="imag">
            <img class="ml-3" style="border-radius: 6px;" src="https://images.unsplash.com/photo-1586448317606-cb1ec00298fc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80"  alt="">
        </div>
        <div>
            <div class="header">
                <h4>Monthly Data</h4>
                <p>Fecth all the monthly data available globally from one currency to another with timezone of UTC with OHLC candlesticks.</p>
                <button class="btn btn-primary "><a href='/forex/monthly-rates/' class='text-white'>I'am ready to go</a></button><img class="ml-4" src="../../../static/images/leftpoint.png" width="130px" height="60px">
            </div>
        </div>
   </div>


   <div class="option1 d-flex pt-5 pb-5">
    <div class="header">
        <h4>Base with Related Prices</h4>
        <p>Convert all the available base price globally from one currency to another with timezone of UTC.</p>
        <button class="btn btn-primary "><a href='/forex/base-compare/' class='text-white'>Start Now</a></button><img class="ml-4" src="../../../static/images/leftpoint.png" width="130px" height="60px">
    </div>
        <div class="imag">
            <img class="ml-3" style="border-radius: 6px;" src="https://images.unsplash.com/photo-1611647832580-377268dba7cb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80" alt="">
        </div>
    </div>




</div>



       </div>


    <style>
        .gerd{
            background: rgba( 255, 255, 255, 0.12 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        border-radius: 10px;
        border: 1px solid rgba( 0, 0, 0, 0.18 );

        }
        .header{
            padding-top:25px;
        }
        .imag img{
            width:90%;
            height: 70%;
        }
        @media(max-width:767px){
            .imag img{
            width:90%;
            height: 95%;
        }
        }
        @media(max-width:991px){
            .option1{
                display:flex;
                flex-direction:column;
            }
            .header{
                margin-top:40px;
                padding-left: 20px;
                padding-bottom: 40px;
            }
        }
        .top-flow{
            margin-bottom: 50px;
        }
    </style>
{%endblock%}