{%extends 'base.html'%}


{%block title %}
    Fundamentals
{%endblock %}


{%block content%}
    <div class="container text-center">
       
        <header class="py-5">
            <div class="container ">
                <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                    <div class="m-4 m-lg-5">
                        <h1 class="display-5 fw-bold">Stock Fundamentals</h1>
                        <p class="fs-4">More than 12 fundamentals that a beginner can checkout to have a basic knowledge of stocks</p>
                        <a class="btn btn-primary btn-lg" href="#!">No I'am a pro</a>
                    </div>
                </div>
            </div>
        </header>

        <div class="container ">
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://images.unsplash.com/photo-1560221328-12fe60f83ab8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" alt="..." width='75%' height='70%' /></div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">a-X of stocks</h1>
                <p>Stocks,stock-exchanges,tickers,income-statements,company profiles,values,IPO's(BSE/NSE excluded) and many more....</p>
                <a class="btn btn-primary" href="#!">I know all</a>
            </div>
        </div>
    </div>


    <section class="pt-4">
        <div class="container px-lg-5">
            <!-- Page Features-->
            <div class="row gx-lg-5">
                
                <div class="col-lg-6 col-xxl-4 mb-5" >
                    <a href="/fundamentals/stock-symbols/" class='text-dark' style='text-decoration: none;'>
                    <div class="card bg-light border-0 h-100" >
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0" >
                            <div class="text-center d-flex" style='justify-content:center;align-items:center'>
                                <div class="bg-primary bg-gradient  rounded-3 pt-5 pb-5 mb-4 mt-n4 " style="border-radius: 50%; width:150px; height:150px;display:flex;justify-content:center;align-items:center"><img src="https://img.icons8.com/color-glass/96/000000/price-tag-usd.png"/></div>

                            </div>
                            <h2 class="fs-4 fw-bold text-dark">USD capitalized market</h2>
                            <p class="mb-0 text-dark">Get all stocks registered in USD capitalized market</p>
                        </div>
                    </div>
                </a>
                </div>

                <div class="col-lg-6 col-xxl-4 mb-5" >
                    <a href="fundamentals/all-stocks/" class='text-dark' style='text-decoration: none;'>
                    <div class="card bg-light border-0 h-100" >
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0" >
                            <div class="text-center d-flex" style='justify-content:center;align-items:center'>
                                <div class="bg-white bg-gradient  rounded-3 pt-5 pb-5 mb-4 mt-n4 " style="border-radius: 50%; width:150px; height:150px;display:flex;justify-content:center;align-items:center"><img src="https://img.icons8.com/fluency/96/000000/globe.png"/></div>

                            </div>
                            <h2 class="fs-4 fw-bold text-dark">All Stocks in World.(Intergated)</h2>
                            <p class="mb-0 text-dark">Get all stocks from one to full curretly existing in the world.</p>
                        </div>
                    </div>
                </a>
                </div>
              
                
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <a href="/fundamentals/company-profile/" class='text-dark' style='text-decoration: none;'>
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="text-center d-flex" style='justify-content:center;align-items:center'>
                                <div class="bg-dark bg-gradient  rounded-3 pt-5 pb-5 mb-4 mt-n4 " style="border-radius: 50%; width:150px; height:150px;display:flex;justify-content:center;align-items:center"><img src="https://img.icons8.com/fluency/96/000000/company.png"/></div>

                            </div> 
                            <h2 class="fs-4 fw-bold text-dark">Complete company profile</h2>
                            <p class="mb-0 text-dark">Get complete profile of your required company(only of USD capitalized stocks)</p>
                        </div>
                    </div>
                    </a>
                </div>


                <div class="col-lg-6 col-xxl-4 mb-5">
                    <a href="/fundamentals/all-exchanges/" class='text-dark' style='text-decoration: none;'>
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="text-center d-flex" style='justify-content:center;align-items:center'>
                                <div class="bg-white bg-gradient  rounded-3 pt-5 pb-5 mb-4 mt-n4 " style="border-radius: 50%; width:150px; height:150px;display:flex;justify-content:center;align-items:center"><img src="https://img.icons8.com/fluency/96/000000/stock-share.png"/></div>

                            </div>
                            <h2 class="fs-4 fw-bold text-dark">All stock exchanges</h2>
                            <p class="mb-0 text-dark">Get all the existing stock exchanges.</p>
                        </div>
                    </div>
                    </a>
                </div>




                <div class="col-lg-6 col-xxl-4 mb-5">
                    <a href="/fundamentals/income-statement/" class='text-dark' style='text-decoration: none;'>
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="text-center d-flex" style='justify-content:center;align-items:center'>
                                <div class="bg-info text-white bg-gradient  rounded-3 pt-5 pb-5 mb-4 mt-n4 " style="border-radius: 50%; width:150px; height:150px;display:flex;justify-content:center;align-items:center"><img src="https://img.icons8.com/nolan/96/overview-pages-3.png"/></div>
                            </div>
                            <h2 class="fs-4 fw-bold text-dark">Income Statements</h2>
                            <p class="mb-0 text-dark">Get Income statements of your required firm(only USD capitalized stocks)</p>
                        </div>
                    </div>
                    </a>
                </div>

                <div class="col-lg-6 col-xxl-4 mb-5">
                    <a href="/fundamentals/finance-insider/" class='text-dark' style='text-decoration: none;'>
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="text-center d-flex" style='justify-content:center;align-items:center'>
                                <div class="bg-dark text-white bg-gradient  rounded-3 pt-5 pb-5 mb-4 mt-n4 " style="border-radius: 50%; width:150px; height:150px;display:flex;justify-content:center;align-items:center"><img src="https://img.icons8.com/color/96/000000/transaction.png"/></div>
                            </div>
                            <h2 class="fs-4 fw-bold text-dark">Insider transactions</h2>
                            <p class="mb-0 text-dark">Get complete insider transactions of your required firm(only USD capitalized stocks)</p>
                        </div>
                    </div>
                    </a>
                </div>


                <div class="col-lg-6 col-xxl-4 mb-5">
                    <a href="/fundamentals/earnings/" class='text-dark' style='text-decoration: none;'>
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="text-center d-flex" style='justify-content:center;align-items:center'>
                                <div class="bg-danger text-white bg-gradient  rounded-3 pt-5 pb-5 mb-4 mt-n4 " style="border-radius: 50%; width:150px; height:150px;display:flex;justify-content:center;align-items:center"><img src="https://img.icons8.com/fluency/96/000000/cash.png"/></div>
                            </div>
                            <h2 class="fs-4 fw-bold text-dark">Earnings</h2>
                            <p class="mb-0 text-dark">Get complete earnings of your required firm(only USD capitalized stocks)</p>
                        </div>
                    </div>
                </a>
                </div>


                <div class="col-lg-6 col-xxl-4 mb-5">
                    <a href="/fundamentals/ipo/" class='text-dark' style='text-decoration: none;'>
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="text-center d-flex" style='justify-content:center;align-items:center'>
                                <div class="bg-secondary text-white bg-gradient  rounded-3 pt-5 pb-5 mb-4 mt-n4 " style="border-radius: 50%; width:150px; height:150px;display:flex;justify-content:center;align-items:center"><img src="https://img.icons8.com/color-glass/96/000000/pay-date.png"/></div>
                            </div>
                            <h2 class="fs-4 fw-bold text-dark">IPO Calendar</h2>
                            <p class="mb-0 text-dark">Start Bootstrap has been the leader in free Bootstrap templates since 2013!</p>
                        </div>
                    </div>
                    </a>
                </div>


                <div class="col-lg-6 col-xxl-4 mb-5">
                    <a href="/fundamentals/market-news/"  class='text-dark' style='text-decoration: none;'>
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="text-center d-flex" style='justify-content:center;align-items:center'>
                                <div class="bg-white text-white bg-gradient  rounded-3 pt-5 pb-5 mb-4 mt-n4 " style="border-radius: 50%; width:150px; height:150px;display:flex;justify-content:center;align-items:center"><img src="https://img.icons8.com/ios/100/000000/strategy-news.png"/></div>
                            </div>
                            <h2 class="fs-4 fw-bold text-dark">Market News</h2>
                            <p class="mb-0 text-dark">Start Bootstrap has been the leader in free Bootstrap templates since 2013!</p>
                        </div>
                    </div>
                    </a>
                </div>


                <div class="col-lg-6 col-xxl-4 mb-5">
                    <a href="/fundamentals/basic-financials/" class='text-dark' style='text-decoration: none;'>
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="text-center d-flex" style='justify-content:center;align-items:center'>
                                <div class="bg-warning text-white bg-gradient  rounded-3 pt-5 pb-5 mb-4 mt-n4 " style="border-radius: 50%; width:150px; height:150px;display:flex;justify-content:center;align-items:center"><img src="https://img.icons8.com/cute-clipart/96/000000/document.png"/></div>
                            </div>
                            <h2 class="fs-4 fw-bold text-dark">Basic Financials</h2>
                            <p class="mb-0 text-dark">Start Bootstrap has been the leader in free Bootstrap templates since 2013!</p>
                        </div>
                    </div>
                    </a>
                </div>


                <div class="col-lg-6 col-xxl-4 mb-5">
                    <a href="/fundamentals/filings/" class='text-dark' style='text-decoration: none;'>
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="text-center d-flex" style='justify-content:center;align-items:center'>
                                <div class="bg-danger text-white bg-gradient  rounded-3 pt-5 pb-5 mb-4 mt-n4 " style="border-radius: 50%; width:150px; height:150px;display:flex;justify-content:center;align-items:center"><img src="https://img.icons8.com/cute-clipart/100/000000/bank-cards.png"/></div>
                            </div>
                            <h2 class="fs-4 fw-bold text-dark">Filings</h2>
                            <p class="mb-0 text-dark">Start Bootstrap has been the leader in free Bootstrap templates since 2013!</p>
                        </div>
                    </div>
                    </a>
                </div>


                



            </div>
        </div>



    </section>

  

    </div>

    <style>
  
 
  .card{
 
 background: rgba( 255, 255, 255, 0.12 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );

border-radius: 25px;
 border: 1px solid rgba( 0, 0, 0, 0.18 );
 color: white;
}

    </style>
{%endblock%}