{%extends 'base.html'%}



{%block title%}
    Home
{%endblock%}




{%block content%}

{% with messages = get_flashed_messages(with_categories=true) %}
        {%if messages %}
            {%for category,message in messages%}
                {%if category == "warning" %}
                <div class="alert text-center alert-warning  alert-dismissable fade show" role="alert">
                    
                        {{ message }}
                   
                    
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden ="true">&times;</span>
                    </button>
                </div>
                {%else%}
                <div class="alert text-center alert-success  flex-end alert-dismissable fade show" role="alert">
                    
                        {{ message }}
                   
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden ="true">&times;</span>
                    </button>
                </div>
                {%endif%}
            {%endfor%}
        {%endif%}
    {% endwith %}


        <div id="loadbackgroundi" class="loadbackgroundi">
  
            <div class="container px-lg-5" style="padding-top:150px">
                <div class="row gx-lg-5">
    
    
    
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="text">
                    <div class="heading text-white">
                        <h1>Everything under one roof.</h1>
                        <p>GoldenStar gives stocks,stock-fundamentals,crypto-datas and also foreign-exchanges data under one roof. Users after siging up can use everything on the application for free.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
            
            <div class="heading2 text-white">
              
            </div>
            </div>

            <div class="col-lg-6 col-xxl-4 mb-5">
            
                <div class="heading2 text-white">
                    
                </div>
                </div>

                <div class="col-lg-6 col-xxl-4 mb-5">
            
                    <div class="heading2 text-light">
                        <h1>Easy Visualization.</h1>
                        <p>Every data that we give to our users is accurate and is extracted from top notch information providers through number of API's.</p>
                    </div>
                    </div>
        </div>
        </div>
        </div>

        <div class="container">
            <div class="container px-lg-5" style="padding-top:150px">
                <div class="row gx-lg-5">
                <div class="col-lg-6 col-xxl-4 mb-5" id="requiredicon">
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="question">
                        <h3>Why to use GoldenStar?</h3>
                    </div>
                    <div class="answer1">
                       <p>A qualitative question that comes to every incoming user is why to use this application specifically, when we have other lot more...</p>
                    </div>
                    <hr style="border: 1px solid rgb(167, 165, 165)">
                    <div class="answer1 text-secondary">
                        <p>We give the best data available on internet to our users. Despite the best data, registered users get all of the datas under one single roof. Not only intraday data, perhaps also we provide the historical data for users so that they can predict what can happen next. We give all sort of data for all firms(NSE/BSE excluded for some facilities for specific reasons). Starting from annual earnings to intraday stock value we try hard to provide every data that we get. Daily,weekly and monthly stocks and crypto currency values are provided for users to analyze and predict what can happen in the near future.</p>
                     </div>
                </div>
        </div>
   

    <style>
        #loadbackgroundi{
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;

            
        }
        
        .image-first img{
            height:350px;
            width:350px;
            padding-left:70px;
            z-index: 1;
        }
        @media(max-width:750px){
            .image-first img{
            height:350px;
            width:350px;
            padding-left:50px;
        }
        }
        .image-first{
            display:flex;
            justify-content:center;
            align-items:center;
        }
       
       
    </style>
{%endblock%}