{%extends 'base.html'%}



{%block title%}
    Home
{%endblock%}




{%block content%}

{% with messages = get_flashed_messages(with_categories=true) %}
        {%if messages %}
            {%for category,message in messages%}
                {%if category == "warning" %}
                <div class="alert text-center alert-warning  alert-dismissable fade show" role="alert">
                    
                        {{ message }}
                   
                    
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden ="true">&times;</span>
                    </button>
                </div>
                {%else%}
                <div class="alert text-center alert-success  flex-end alert-dismissable fade show" role="alert">
                    
                        {{ message }}
                   
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden ="true">&times;</span>
                    </button>
                </div>
                {%endif%}
            {%endfor%}
        {%endif%}
    {% endwith %}


        <div id="loadbackgroundi" class="loadbackgroundi">
  
            <div class="container px-lg-5" style="padding-top:150px">
                <div class="row gx-lg-5">
    
    
    
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="text">
                    <div class="heading text-white">
                        <h1>Everything under one roof.</h1>
                        <p>GoldenStar gives stocks,stock-fundamentals,crypto-datas and also foreign-exchanges data under one roof. Users after siging up can use everything on the application for free.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
            
            <div class="heading2 text-white">
              
            </div>
            </div>

            <div class="col-lg-6 col-xxl-4 mb-5">
            
                <div class="heading2 text-white">
                    
                </div>
                </div>

                <div class="col-lg-6 col-xxl-4 mb-5">
            
                    <div class="heading2 text-light">
                        <h1>Easy Visualization.</h1>
                        <p>Every data that we give to our users is accurate and is extracted from top notch information providers through number of API's.</p>
                    </div>
                    </div>
        </div>
        </div>
        </div>

        <div class="container">
            <div class="container px-lg-5" style="padding-top:150px">
                <div class="row gx-lg-5">
                <div class="col-lg-6 col-xxl-4 mb-5">
                </div>
        </div>
   

    <style>
        #loadbackgroundi{
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;

            
        }
        
        .image-first img{
            height:350px;
            width:350px;
            padding-left:70px;
            z-index: 1;
        }
        @media(max-width:750px){
            .image-first img{
            height:350px;
            width:350px;
            padding-left:50px;
        }
        }
        .image-first{
            display:flex;
            justify-content:center;
            align-items:center;
        }
       
       
    </style>
{%endblock%}