{%extends 'base.html'%}



{%block title%}
    Home
{%endblock%}




{%block content%}

{% with messages = get_flashed_messages(with_categories=true) %}
        {%if messages %}
            {%for category,message in messages%}
                {%if category == "warning" %}
                <div class="alert text-center alert-warning  alert-dismissable fade show" role="alert">
                    
                        {{ message }}
                   
                    
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden ="true">&times;</span>
                    </button>
                </div>
                {%else%}
                <div class="alert text-center alert-success  flex-end alert-dismissable fade show" role="alert">
                    
                        {{ message }}
                   
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden ="true">&times;</span>
                    </button>
                </div>
                {%endif%}
            {%endfor%}
        {%endif%}
    {% endwith %}

    <div class="container mb-5">
        <div class="d-flex" style="justify-content: end; margin-top:40px">
            <button class="btn btn-danger"><a href='/logout' class="text-white">Logout</a></button>
        </div>



        <div class="row mt-5">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <a href="/user-profile/{{user.id}}/reset-profile"><h4 class="text-dark"> Reset credentials. </h4></a>
                        <hr>
                        <h6>
                            Reset your username,email,password
                        </h6>
                    </div>
                </div>
            </div>

            <div class="col" id="reg">
                <div class="card">
                    <div class="card-body">
                        <h4>Delete Account.</h4>
                        <hr>
                        <h6>
                            Delete account including all saved info.
                        </h6>
                    </div>
                </div>
            </div>
            
          </div>
      </div>
    <style>
        .card{
            border: 1.5px solid grey;
        }
        @media(max-width:500px){
            #reg{
                margin-top:40px;
            }
        }
        
    </style>
{%endblock%}