{%extends"base.html"%} 
{%block title%}
 Daily-Shares
{%endblock%}
{%block content%}
{% with messages = get_flashed_messages(with_categories=true) %}
{%if messages %} 
{%for category,message in messages%} 
{%if category == "warning" %}
<div class="alert text-center alert-warning  alert-dismissable fade show" role="alert">

    {{ message }}


    <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden ="true">&times;</span>
                </button>
</div>
{%else%}
<div class="alert text-center alert-success  flex-end alert-dismissable fade show" role="alert">

    {{ message }}

    <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden ="true">&times;</span>
                </button>
</div>
{%endif%} 
{%endfor%}
{%endif%}
{% endwith %}

    </div>



    <div class='cardee container mt-5 px-lg-5 mb-3' id='dshow'>
        <div class='container mt-5 px-lg-5'>
            <div id="EndpointDailyChart" class='pt-3 pb-2 pl-2'></div>
        </div>
        <div class='container mt-5 px-lg-5'>
            <div id="EndpointWeeklyChart" class='pt-3 pb-2 pl-2'></div>
        </div>
        <div class='container mt-5 px-lg-5'>
            <div id="EndpointMonthlyChart" class='pt-3 pb-2 pl-2'></div>
        </div>
    </div>

    <script>
         var options = {
        series: [{
            data: {{ datae | safe}},
        }],
        chart: {
            type: 'candlestick',
            height: 400,
            foreColor: '#000000'
        },
        title: {
            text: 'Daily Metadata',
            align: 'left'
        },
        xaxis: {
            type: 'datetime'
        },
        yaxis: {
            tooltip: {
                enabled: true
            }
        },
        theme: {
            mode: 'light',
            palette: 'palette1',
            monochrome: {
                enabled: false,
                color: '#ffffff',
                shadeTo: 'light',
                shadeIntensity: 0.65
            },
        }
    };

    const div = document.getElementById('EndpointDailyChart');


    var chart = new ApexCharts(div, options);
    chart.render();


    var options1 = {
        series: [{
            data: {{ dat | safe}},
        }],
        chart: {
            type: 'candlestick',
            height: 400,
            foreColor: '#000000'
        },
        title: {
            text: 'Weekly Metadata',
            align: 'left'
        },
        xaxis: {
            type: 'datetime'
        },
        yaxis: {
            tooltip: {
                enabled: true
            }
        },
        theme: {
            mode: 'light',
            palette: 'palette1',
            monochrome: {
                enabled: false,
                color: '#ffffff',
                shadeTo: 'light',
                shadeIntensity: 0.65
            },
        }
    };

    const div1 = document.getElementById('EndpointWeeklyChart');


    var chart1 = new ApexCharts(div1, options1);
    chart1.render();
    </script>
    <style>
        .cardee {
            background-color: #ffffff;
            background-image: linear-gradient( #ffffff);
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.40);
            border-radius: 25px;
            border: 1px solid rgba( 0, 0, 0, 0.18);
            color: rgb(0, 0, 0.4);
        }

    </style>



    {%endblock%}

