{%extends 'base.html'%}



{%block title%}
    Home
{%endblock%}




{%block content%}

{% with messages = get_flashed_messages(with_categories=true) %}
        {%if messages %}
            {%for category,message in messages%}
                {%if category == "warning" %}
                <div class="alert text-center alert-warning  alert-dismissable fade show" role="alert">
                    
                        {{ message }}
                   
                    
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden ="true">&times;</span>
                    </button>
                </div>
                {%else%}
                <div class="alert text-center alert-success  flex-end alert-dismissable fade show" role="alert">
                    
                        {{ message }}
                   
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden ="true">&times;</span>
                    </button>
                </div>
                {%endif%}
            {%endfor%}
        {%endif%}
    {% endwith %}

    <div class="container">
        <div class="container mt-5 px-lg-5">
            <div class="row gx-lg-5">



                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card">
                        <a href='/share/unitedstates-stockexchange/' style="text-decoration: none;">
                        <div class="card-inner">
                         
                            <div class="panel-logo">
                            <div class="panel d-flex">
                              <img src="https://i.ibb.co/t4btw4k/chip.png" width="40px"><h5 class='text-dark ml-4'>United-States Stock-Exchange</h5>
                            </div>
                            <div class="logo   mt-2">
                                <img src="https://img.icons8.com/emoji/48/000000/united-states-emoji.png"/>
                            </div>
                            </div>
                        </div>
                    </a>
                    </div>
                </div>




                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card">
                        <a href='/share/india-stockexchange/' style="text-decoration: none;">
                        <div class="card-inner">
                         
                            <div class="panel-logo">
                            <div class="panel d-flex">
                              <img src="https://i.ibb.co/t4btw4k/chip.png" width="40px"><h5 class='text-dark ml-4'>India-BSE</h5>
                            </div>
                            <div class="logo   mt-2">
                                <img src="https://img.icons8.com/emoji/48/000000/india-emoji.png"/>
                            </div>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card">
                        <div class="card-inner">
                         
                            <div class="panel-logo">
                            <div class="panel d-flex">
                              <img src="https://i.ibb.co/t4btw4k/chip.png" width="40px"><h5 class='text-dark ml-4'>UK-London Stock-Exchange</h5>
                            </div>
                            <div class="logo mt-2">
                                <img src="https://img.icons8.com/emoji/48/000000/england-emoji.png"/>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card">
                        <div class="card-inner">
                         
                            <div class="panel-logo">
                                <div class="panel d-flex">
                                    <img src="https://i.ibb.co/t4btw4k/chip.png" width="40px"><h5 class='text-dark ml-4'>Canada-Toronto Stock-Exchange</h5>
                                  </div>
                            <div class="logo mt-2">
                                <img src="https://img.icons8.com/color/48/000000/canada.png"/>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card">
                        <div class="card-inner">
                         
                            <div class="panel-logo">
                            <div class="panel d-flex">
                              <img src="https://i.ibb.co/t4btw4k/chip.png" width="40px"><h5 class='text-dark ml-4'>Canada-Toronto Venture-Exchange</h5>
                            </div>
                            <div class="logo mt-2">
                                <img src="https://img.icons8.com/clouds/60/000000/cn-tower.png"/>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card">
                        <div class="card-inner">
                         
                            <div class="panel-logo">
                            <div class="panel d-flex">
                              <img src="https://i.ibb.co/t4btw4k/chip.png" width="40px"><h5 class='text-dark ml-4'>Germany-Xetra</h5>
                            </div>
                            <div class="logo mt-2">
                                <img src="https://img.icons8.com/emoji/48/000000/germany-emoji.png"/>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card">
                        <div class="card-inner">
                         
                            <div class="panel-logo">
                            <div class="panel d-flex">
                              <img src="https://i.ibb.co/t4btw4k/chip.png" width="40px"><h5 class='text-dark ml-4'>China-Shanghai Stock-Exchange</h5>
                            </div>
                            <div class="logo mt-2">
                                <img src="https://img.icons8.com/color/48/000000/asian-character.png"/>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card">
                        <div class="card-inner">

                            <div class="panel-logo">
                            <div class="panel d-flex">
                              <img src="https://i.ibb.co/t4btw4k/chip.png" width="40px"><h5 class='text-dark ml-4'>China-Shenzhen Stock-Exchange</h5>
                            </div>
                            <div class="logo mt-2">
                                <img src="https://img.icons8.com/emoji/48/000000/china-emoji.png"/>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>

                




            </div>


        </div>


        
    </div>
    

    <div class='container' style='display:flex;justify-content:center;align-items:center'>
        <div class="col-lg-7 col-xxl-4 mb-5" >
            <div class="card  border-0 h-100" >
                <div class="card-body text-dark text-center p-4 p-lg-5 pt-0 pt-lg-0" >
                    <div class="text-center d-flex" style='justify-content:center;align-items:center'>
                        <div class="bg-white bg-gradient  rounded-3 pt-5 pb-5 mb-4 mt-n4 " style="border-radius: 50%; width:150px; height:245px;display:flex;justify-content:center;align-items:center"><img src="../../../static/images/3dmanstanding.png" height='300px'/></div>
                    </div>
                    <div class='cardee' style='padding-right:20px;padding-left:20px;padding-bottom:10px;padding-top:10px'>
                        <h5 class='text-dark text-left'>Are you new to stocks and difficult to find stock symbols ? If yes, to go through different fundamentals of stocks click <a href='/fundamentals' style="text-decoration: none;">here</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
        <style>
.cardee{
    background-color: #e2e2e6;
background-image: linear-gradient(135deg, #e2e2e6 0%, #dde4e6 25%, #d0d3e2 90%);

box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );

border-radius: 25px;
 border: 1px solid rgba( 0, 0, 0, 0.18 );
 color: white;

}


.title{
  font-size: 1.5em;
  color: #fff;
}
.card{
 
  background: rgba( 255, 255, 255, 0.12 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );

border-radius: 25px;
  border: 1px solid rgba( 0, 0, 0, 0.18 );
  color: white;
}

.card-inner{
  padding: 1em; 
}

label {
  display: block;
  font-size: .8em;
}

.panel-logo {
  display: flex;
  justify-content: space-between;
}

.panel {
  margin: 1em 0;
}

.exp {
  display: flex;
  justify-content: space-between;
}



#cardBrand {
  font-size: 2.8rem;
  color: white;
}


.name {
  padding: 1.1em;
  font-family: 'Inconsolata';
  letter-spacing: .1em;
  font-weight: bold;
}

.shape-2 {
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: transparent;
  border: 50px solid rgba(255, 255, 255, 0.1);
  bottom: -100px;
  left: -100px;
  box-sizing: border-box;
}

        
        </style>

{%endblock%}